<section class="strip bg-primary">
        <div class="container">
          <div class="row clearfix">
            <form class="mail-list-signup">
              <div class="col-sm-10 col-med-10 col-xs-12 pull-left clear-fix">
                <input type="text" class="signup-email-field" placeholder="Enter your email here here for updates">
              </div>

              <div class="col-sm-2 col-xs-12 pull-right text-right">
                <input type="submit" class="btn btn-primary btn-filled" value="Subscribe">
              </div>
            </form>
          </div>
        </div>
</section>
