<style>
{{ get_content from="/globals" show_drafts="yes" }}

/* link  override*/
   a, .uk-link {
    color: #{{  textlink }}!important;

    }
    a:hover, .uk-link:hover {
      opacity: .5;
    }
.menu a {
  color: #fff !important;
}
/*button override*/
 .btn-primary.btn-filled, .btn-primary, .blogroll:hover {
  background-color: #{{  button }} !important;
  border-color: #{{  button }} !important;
  color: #fff!important;
  }
.link-text {
  color: #{{  button }} !important;
  border-bottom-color: #{{  darkred }} !important;
  }

/*button hover override*/
.btn-primaryy:hover,
.btn-primary:focus {
  background-color: #{{  button_hover }} !important;
  color: white;
  }
.blogroll a {
    color: #{{   button }} !important;
  }

.blogroll:hover a{
    color: #fff !important;
  }

  /* dark red override*/
  .bg-primary, body, .reviewbox.red, .socialbox.red {
    background-color: #{{  darkred }} !important;

    }



    .tabs {
      position: relative;
      width: 100%;
      overflow: hidden;
      // margin: 1em 0 2em;
      font-weight: 300;
      background-color: #fff !important;
    }

    
    .tabs nav ul li {
      margin: 0 0.25em;
      display: block;
      float: left;
      position: relative;
            border: 1px solid #{{  darkred }} !important;
                  border-bottom: none!important;


    }

    .tabs nav li.tab-current {
      border: 1px solid #{{  darkred }} !important;
      box-shadow: inset 0 2px #{{  darkred }} !important;
        border-bottom: none!important;
      z-index: 100;
    }

    .tabs nav li.tab-current:before,
    .tabs nav li.tab-current:after {
      content: '';
      position: absolute;
      height: 1px;
      right: 100%;
      bottom: 0;
      width: 1800px;
      background: #{{  darkred }} !important;
    }

    .tabs nav li.tab-current:after {
      right: auto;
      left: 100%;
      width: 4500px;
    }

    .tabs nav a {
      color: #{{  darkred }} !important;
      display: block;
      font-size: 1.45em;
      line-height: 2.5;
      padding: 0 1.25em;
      white-space: nowrap;
    }

    .tabs nav a:hover {
      color: #{{  lightred }} !important;
    }

    .tabs nav li.tab-current a {
      color:#{{  darkred }} !important;
    }

  .article-body .lead, blockquote {
    color: #{{  darkred }} !important;
  }
  /* light red override*/
    .bg-twitter {
    background: #{{  lightred}} !important;

    }
 /* med red override*/
    .bg-facebook {
    background: #{{  medred}} !important;
    }

  



  {{ /get_content }}



</style>
