<section class="hero-slider">
    <ul class="slides">
            {{ entries:listing  folder="blog" paginate="no" show_future="false" show_past="true" limit="6" sort_dir="desc" }}
            {{ if homeslider }}
      <li class="overlay">
        <div class="background-image-holder parallax-background">
          <img class="background-image" alt="{{ title }}" src="{{ main_img }}">
        </div>

        <div class="container align-vertical">
          <div class="row">
            <div class="col-md-6 col-sm-9">
              <h1 class="text-white">{{ summary }}</h1>
              <a href="{{ url }}" class="btn btn-primary btn-filled">Read more</a>
            </div>
          </div>
        </div><!--end of container-->
      </li><!--end of individual slide-->

      <!--end of individual slide-->
      {{ endif }}
      {{ /entries:listing }}
    </ul>
  </section>       <!--end of heroslider-->
