<div class="main-container">
  <header class="title">
      <div class="background-image-holder parallax-background">
        <img class="background-image" src="{{ transform src="{{ main_img }}"width="1920" height="882"  action="smart" alt="{{ title }}" quality="100" }} " />
      </div>

      <div class="container align-bottom">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-white">{{ title }}</h1>
          </div>
        </div><!--end of row-->
      </div><!--end of container-->
  </header>

  <section class="article-single">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <div class="article-body">
            {{ content }}
            <div class="contact-form">
              {{ theme:partial src="_contact_form" }}
            </div>
          </div><!--end of article body-->
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </section>
</div>
